/* chatbot styling */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(129, 128, 128);
  outline: 1px solid slategrey;
}

#chatbot-inner {
  position: fixed;
  bottom: 0;
  right: 0;
  /* border: 1px solid purple; */
  height: 600px;
  width: 500px;
}

#chat-icon {
  height: 100px;
  width: 50px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/146/146008.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#chat-body {
  height: 500px;
  width: 400px;
  border: 1px solid #0d6efd;
  background-color: white;
  border-radius: 5%;
  box-shadow: 10px 10px 10px rgba(20, 189, 231, 0.315);
  position: fixed;
  bottom: 90px;
  right: 70px;
  display: none;
  overflow-wrap: break-word;
  overscroll-behavior-y: inherit;
}

.chat-msg {
  height: 40px;
  width: 100%;
  /* border:1px solid red; */
  
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chatid {
border:none;
  border-top: 1px solid rgba(13, 110, 253, 255);
  height: 40px;
  outline:0;
}

#chat-message-line {
  word-wrap: break-word;
  width: 100%;
  /* background-color: rgb(204, 131, 131); */
  background-color: #0d6dfd62;
}
#chat-message-line p {
  margin-left: 20px;
}

#chat-body textarea {
  width: 337px;
  resize: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  outline: none;
}

#btn-send {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 40px;
}

#chat-info {
  height: 380px;
  width: 100%;
  /* border: 1px solid red; */
  overflow-y: scroll;
}

#chat-info::-webkit-scrollbar {
  width: 5px;
}

#chat-info::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#chat-info::-webkit-scrollbar-thumb {
  background-color: rgba(13,110,253,255);
  outline: .5px solid white;
}
